#world {
    padding-bottom: 10px;
}
table {
    background-color: whitesmoke;
}
td {
    border: 1px solid darkgray;
    width: 70px;
    height: 70px;
}
td.dead {
    background-color: transparent;
}
td.alive {
    background-color:blue;
}